@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-red: #F03C42;
    --bg-light-gray: #E5E5E5;
    --color-yellow: #FFF964;
    --bg-dark-gray: #5E5E5E;
    --bg-color-green: #02B814;


}

*{
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a, 
a:hover{
    color: unset;
    text-decoration: none;
}



header{
    background-color: var(--color-red);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

nav h1{
    text-align: center;
    color: var(--color-yellow);
    font-size: 24px;
}

.conteiner{
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}



#pizzas{
    padding: 20px 15px;
    background-color: var(--bg-light-gray);
}

.pizza-card {
    display: flex;
    margin: 20px 0;
}

.pizza-card img {
    width: 200px;
    border-radius: 12px, 0, 0 12px;
}

.pizza-card-description{
    background-color: #fff;
    border-radius: 0px 12px 12px 0px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.pizza-card-description h3{
    font-size: 24px;
    color: var(--bg-dark-gray);
}

.pizza-card-description p{
    font-size: 12px;
    color: var(--bg-dark-gray);
}

.pizza-card-description h4{
    color: var(--bg-color-green);
}

#comments{
    padding: 20px 15px;

}

#comments h2{
    text-align: center;
    font-size: 32px;
    color: var(--bg-dark-gray);
    margin-bottom: 40px;
}

.card-comment{
    padding: 20px 25px;
    background-color: var(--color-yellow);
    color: var(--color-red);
    border-radius: 12px;
    margin: 20px 0;
}

footer{
    background-color: #F03C42;
    height: 120px;
    color: var(--color-yellow);
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer-content a{

    font-size: 16px;
    
}

.footer-content address{
   font-size: 16px;
}